# Ignore everything
*


# Except these files (allowlist)
!.gitignore
!README.md
!run_outlier_pipeline.py
!pipeline_config.py

!preprocessing
!preprocessing/run_extraction_noref.py
!preprocessing/show_npz_files.ipynb

!utilities
!utilities/configs.py
!utilities/utils.py
!utilities/feature_utils.py
!utilities/plot_utils.py

!analysis
!analysis/finding_outliers.py
!analysis/pca_sliding_window.py
!analysis/plot_spectrogram_windows.py
!analysis/cluster_outliers.py

!evaluation
!evaluation/validatedChristerCalls.csv
!evaluation/compareChristerCalls.py

!hyperparameter_tuning
!hyperparameter_tuning/hyperparameter_tuning.py

!environment.yml
