# Ignore everything
*


# Except these files (allowlist)
!.gitignore
!README.md
!run_outlier_pipeline.py

!preprocessing
!preprocessing/run_extraction_noref.py
!preprocessing/show_npz_files.ipynb

!utilities
!utilities/configs.py
!utilities/utils.py
!utilities/feature_utils.py
!utilities/plot_utils.py

!analysis
!analysis/finding_outliers.py
!analysis/pca_sliding_window.py

!environment.yml
